@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    font-family: 'Fira Sans', sans-serif;
}